<div class="submenu submenu--compact" role="navigation" aria-label="Home quick links">
  <div class="submenu-container">
    <div class="submenu-item submenu-logo">
      <img src="{{ site.baseurl }}/images/logo.png" height="40" title="Home" alt="Home logo">
    </div>
    <div class="submenu-item"><a href="{{site.baseurl}}/2024/09/17/cookieclicker.html">Cookie Clicker</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/2024/09/15/flappybirdgame.html">Flappy Bird</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/2024/09/12/javascriptcalc.html">JS Calculator</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/2024/09/15/snakegame.html">Snake Game</a></div>
  </div>
</div>