<div class="submenu submenu--compact" role="navigation" aria-label="Pair programming links">
    <div class="submenu-container">
        <div class="submenu-item submenu-logo">
            <img src="{{site.baseurl}}/images/logo.png" height="40" title="Pair" alt="Pair logo">
        </div>
        <div class="submenu-item"><a href="{{site.baseurl}}/pair/programming">Programming</a></div>
        <div class="submenu-item"><a href="{{site.baseurl}}/pair/habits">Habits</a></div>
        <div class="submenu-item"><a href="{{site.baseurl}}/pair/showcase">Showcase</a></div>
    </div>
</div>
