<div class="submenu" role="navigation" aria-label="Study quick links">
  <div class="submenu-container">
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyG">Study Main</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyG1">Unit 1</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyG2">Unit 2</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyG3">Unit 3</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyG4">Unit 4</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyG5">Unit 5</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyCPT">CPT Guide</a></div>
    <div class="submenu-item"><a href="{{site.baseurl}}/StudyAct">Action Plan</a></div>
  </div>
</div>